* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-end {
    align-items: flex-end;
}

.form-control {
    border: none;
    border-radius: 4px;
    padding: 0.9rem 10px;
    font-family: inherit;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding: 0.9rem 12px;
    text-decoration: none;
    font-family: inherit;
    user-select: none;
    word-break: break-word;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.btn.btn-sm {
    font-size: 14px;
    padding: 0.6rem 9px;
}

.btn.disabled {
    background: #717171;
    cursor: auto;
    color: #fff;
}
.btn.disabled:hover {
    background: #717171;
}

.btn-primary {
    background-color: #e10505;
    color: #fff;
}

.btn-primary:hover {
    background-color: #c60606;
}

.btn-primary:active {
    background-color: #b20404;
}

.btn-success {
    background-color: #15ab2d;
    color: #fff;
}

.btn-success:hover {
    background-color: #119126;
}

.btn-success:active {
    background-color: #0e6c1d;
}

.btn-danger {
    background-color: #d70505;
    color: #fff;
}

.btn-danger:hover {
    background-color: #b90505;
}

.btn-danger:active {
    background-color: #8e0707;
}

.mr-1 {
    margin-right: 5px;
}

.ml-1 {
    margin-left: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    font-family: 'Nunito', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background: #fcfcfc;
    height: 105px;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-brand {
    color: #0f0f0f;
    font-size: 2rem;
    font-weight: 700;
}

.navbar-brand span {
    color: #e10505;
}

.navbar-collapse {
    margin-left: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu .menu-item a {
    color: #4f4f4f;
    font-weight: 600;
}

.navbar-menu .menu-item a:hover, .navbar-menu .menu-item.active a {
    color: #000;
}

.navbar-menu .menu-item + .menu-item {
    margin-left: 15px;
}

.login-wrapper {
    margin-top: 2rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.login-wrapper.hide {
    height: 0 !important;
    margin-top: 0;
    opacity: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.username-input {
    width: 250px;
}

#login-failed-message {
    width: 250px;
    color: #b20404;
    margin: 0;
    font-size: 14px;
}

.start-playing-btn {
    margin-top: 5px;
    width: 250px;
}

#logged-in-as {
    margin: 0;
    text-align: center;
    color: #606060;
    height: 0;
    transition: height .3s ease-in-out;
    overflow: hidden;
}

.game-wrapper {
    margin-top: 2rem;
    overflow: hidden;
    transition: height .3s ease-in-out;
}
.game-wrapper.hide {
    height: 0 !important;
    margin-top: 0;
}

.game-info {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.leave-btn-wrapper {
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
}

.symbol-text, #opponent-text {
    color: #707070;
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
}

#turn-text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0;
}

#turn-text.opponent {
    color: #707070;
}

.game-grid {
    display: grid;
    border: 1px solid #7c7c7c;
    width: 300px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.game-result {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.game-grid.show-result .game-result {
    pointer-events: initial;
    opacity: 1;
}

#game-result-text {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
}

.game-box {
    border: 1px solid #7c7c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 700;
    user-select: none;
}

.game-box:not(.taken) {
    cursor: pointer;
}

.game-box.hover {
    opacity: 0.4;
}

.game-box.o {
    color: #e10505;
}

.online-players {
    margin-top: 2rem;
}

.online-players-box {
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 1rem 15px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.online-players-text {
    margin: 0;
    text-align: center;
    padding-bottom: calc(1rem - 5px);
}

#currently-online {
    font-weight: 700;
}

.online-players-line {
    border-color: #ddd;
    border-top: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.online-players-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.no-online-players {
    margin: 0;
    color: #606060;
    display: none;
}

.no-online-players.active {
    display: block;
}

.online-player p {
    margin: 0;
}

.online-player-name {
    font-weight: 600;
}

.online-player-name span {
    color: #909090;
    font-weight: 400;
}

.last-game-date {
    color: #707070;
    font-size: 0.9rem;
}

.challenge-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
}
.logged-in .challenge-btn:not(.me):not(.in-room) {
    pointer-events: initial;
    opacity: 1;
}

.toast {
    background: #484646;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12);
}

.footer .container {
    display: flex;
    justify-content: flex-end;
    color: #606060;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 50rem;
    }
}